# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.FlappyRocket.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\SSDRepos\Unity\FlappyRocket\.idea\.idea.FlappyRocket\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
